.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .login-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .login-input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #434343;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #333;
  }
  
  .signup-text {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
  }
  
  .signup-link {
    color: #434343;
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
  }
  
  .signup-link:hover {
    color: #333;
  }
  